<html>
<body>
  <h1>Password (No. <%= card_id %>)</h1>

  <form method="post" action="/update_password/<%= card_id %>">
    <input type="password" name="password">
    <br>
    <input type="submit" value="SAVE">
  </form>
</body>
</html>
