<html>
<body>
  <h1>パスコード設定 (No. <%= card_id %>)</h1>
  <p>パスコード(4桁)を設定してください。<br>飲食物の購入時に必要になります。</p>

  <form method="post" action="/update_password/<%= card_id %>">
    <input type="password" name="password">
    <br>
    <input type="submit" value="設定">
  </form>
</body>
</html>
