<html>
<body>
  <h1>Credit Card (No. <%= card_id %>)</h1>

  <form method="post" action="/<%= action %>/<%= card_id %>">
    <label>Credit card number</label>
    <input type="text" name="cardno">
    <br>
    <label>Expiration month</label>
    <input type="number" name="month">
    <br>
    <label>Expiration Year</label>
    <input type="number" name="year">
    <br>
    <input type="submit" value="SAVE">
  </form>
</body>
</html>
