<html>
<body>
  <h1>New Project</h1>
  <p><%= photo.id + ':' + photo.name %></p>

  <form method="post" action="/create">
    <input type="text" name="name">
    <input type="submit" value="create">
  </form>
</body>
</html>
