<html>
<body>
  <h1>Welcome to FesPay!!</h1>
  <p>Input your wristband number!!<p>

  <form method="post" action="/yeah">
    <input type="text" name="card_id">
    <input type="submit" value="SEND">
  </form>
</body>
</html>
