<html>
<body>
  <h1>FesPayへようこそ！！</h1>
  <p>リストバンドの番号(No.)を入力してください。<p>

  <form method="post" action="/yeah">
    <input type="text" name="card_id">
    <input type="submit" value="送信">
  </form>
</body>
</html>
