<html>
<body>
  <h1>Welcome to FesPay!!</h1>
  <p>リストバンドの番号を入力して送信！！</p>

  <form method="post" action="/yeah">
    <input type="text" name="card_id">
    <input type="submit" value="create">
  </form>
</body>
</html>
